<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.davidversluis.picaria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aboutscreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Simplescreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Boardscreen"
            android:parentActivityName=".Simplescreen"></activity>
        <activity
            android:name=".Howto"
            android:parentActivityName=".MainActivity" ></activity>
    </application>

</manifest>